@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  height: 100%;
  user-select: none;
}

#root {
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

#ios-top {
  width: 100vw;
  height: env(safe-area-inset-top);
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
}

#ios-bottom {
  width: 100vw;
  height: env(safe-area-inset-bottom);
  background-color: #111111;
  position: fixed;
  bottom: 0;
  left: 0;
}

#bottomNav {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
}

.toaster {
  margin-top: env(safe-area-inset-top);
}

main {
  position: relative;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

main.bottomPadding {
  padding-bottom: calc(env(safe-area-inset-bottom) + 4.2em);
}

.anticon {
  line-height: 0;
  vertical-align: 1px;
}
